# Dependencies
node_modules/
**/node_modules/

# Build
dist/
**/dist/
*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Vite
*.local

# TypeScript
*.tsbuildinfo

.VSCodeCounter